body{
   
    margin: 0;
    padding: 0;
    
}
.top{
    height: 1000%;
    display:grid;
    grid-template-columns: reapeat(12,1fr);
    grid-template-rows:60px auto; 
    grid-template-areas:
    " h h h h h h h m m"
    " c c c c c c c m m"
    " c c c c c c c m m";
}
a{
    text-decoration: none;
}
/*------------------------Nav Bar--------------*/
.navbar{
    grid-area: h;
    background-color: #5569DC;
    top: 0px;
    padding:20px;
    margin-top: 0px;
    text-align: center;
    
}
.navbar a{
    color: whitesmoke;
    text-align: center;
    font-size: 17px;
    font-style: bold;
    padding:20px;
    text-decoration: none;
    font-family: Cursive;
    
    
}
.navbar a:hover{
    color: rgb(218, 218, 218);
}
/*----------------Main-------------*/
.intro{
    grid-area: m;
    background-color: #5569DC;
    padding-top: 60px;
    text-align: center;
    color:white;
}
.intro a{
    color: white;
    padding:15px;
}
.bigpart{
    grid-area: c;
    
}
#mine{
    border-radius: 50%;
    height:20%;
    width:30%
}
#lap{
    width: 100%;
    height: 100%;
}
.btn {
    background-color: white;
    border: none;
    color: #5569DC;
    padding: 12px 30px;
    cursor: pointer;
    font-size: 15px;
  }
.btn:hover{
    background-color: rgb(218, 218, 218);
  }
i{
    size: 10px;
}
